.hideclass {
  display:none;
}


.project_title {
    background-color: rgba(53,94,129,1);
    /* height: 12vh;*/
    width: 100%;
    color: white;
    margin: 0px;
    padding: 0px 50px;
    float: left;
}

.p_h2 {
  font-size: 1.5rem;
  color: white;
}

.p_stepnum {
	font-size: 1rem;
}

.divbom {
    background-color: rgba(53,111,162,1);
	align: right;
}




.lefttreenode {
	border-style: solid;
	border-color: white;
	border-radius: 10px;
    background: #000000;
    padding:5px;
	float:left;
}
.lefttreesubdiv{
	margin-left: 30px;
	float:left;
}

.ptree2{
	position: fixed;
	height: 90%; 
    overflow-y: scroll; // adds scrollbar	
}


















/*********** used for .... something ...... *************/
.barx {

  overflow: hidden;
  color: #ffffff;
  padding: 0;
  background-color: #4fc1e9;
  /*height: 50px;*/

  position: fixed;
  top: 0;
  width: 100%;
  color: #ffffff;

  height: auto;
  line-height: 50px;
  z-index: 200;
}

.barx a {
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  display: block;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.barx a:hover {
  color: #3d4351;
}
.barx img {
  height: 54px;
  width: auto;
  float: left;
  margin: 5px 15px 5px 0;
}
.barx h1,
.barx h2,
.barx h3,
.barx h4,
.barx h5,
.barx h6,
.barx a,
.barx p {
  float: left;
  margin: 0;
  line-height: 50px;
}
.barx ul li {
  margin-left: 16px;
  float: left;
  list-style: none;
}
.barx .menuButton {
  padding-top: 5px;
  float: left;
}
.barx .menuButton span {
  display: block;
  width: 36px;
  height: 4px;
  background: #fff;
  margin: 7px auto 0;
  clear: both;
}
.barx .menuButton:hover {
  cursor: pointer;
}

